# main app configuration

export TWITTER_TOPIC=scalabcn
export MEETUP_GROUP_ID=3505122

# get your twitter keys from https://apps.twitter.com/

export TWITTER_CONSUMER_KEY=
export TWITTER_CONSUMER_SECRET=
export TWITTER_ACCESS_TOKEN=
export TWITTER_ACCESS_TOKEN_SECRET=


# get your Meetup API key at https://secure.meetup.com/meetup_api/key/

export MEETUP_API=


