@()(implicit r: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Some Title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body >
        <script type="text/javascript">
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var dateSocket = new WS("@routes.Application.ws().webSocketURL()")
            var receiveEvent = function(event) {
                document.getElementById("randomVal").innerHTML = event.data;
            }
            dateSocket.onmessage = receiveEvent


        </script>
        <center>

        <h1>The random number of the day</h1>
        <div id="randomVal" ></h1>
        </center>
    </body>

</html>
