@()(implicit r: RequestHeader)


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meetup Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .tweet_thumbnail {
        height: 100px;
        margin: 10px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/images/favicon.png">
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <br/>&nbsp;
        </div>
      </div>
    </div>


    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2 id="last_event_title">Hello, world!</h1>
        <p id="last_event_description">This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      
      <div class="row">
        <div class="span12" id="twitter_images">
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span8">
          <h3>Related Tweets</h2>
          <p id="related_tweets_text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h3 id="next_event_title">Other</h2>
          <p id="next_event_description"></p>
          <p>RSVP: <span id="next_event_rsvp"></span></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; ScalaBcn 2014</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery-1.9.0.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript">
	
		function toDateString(ts) {
			var date = new Date(ts);
			return date.toDateString();
		}
	
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket        
        var applicationWS = new WS("@routes.Application.ws().webSocketURL()")
        var handleMessage = function(message) {
        	var jsObject = JSON.parse(message.data);
        	if(jsObject["last-event"]) {
        		$("#last_event_title").empty().append(toDateString(jsObject["last-event"].time));
        		$("#last_event_description").empty().append(jsObject["last-event"].name);
        	} else if(jsObject["next-event"]) {
        		$("#next_event_title").empty().append(toDateString(jsObject["next-event"].event.time));
        		$("#next_event_description").empty().append(jsObject["next-event"].event.name);
        		$("#next_event_rsvp").empty().append(jsObject["next-event"].rsvpCount);
        	} else if(jsObject["twits"]) {
        		$("#related_tweets_text").empty().append("<ul>");
        		var msgs = jsObject["twits"];
        		msgs.forEach(function(msg) {
        			$("#related_tweets_text").append("<li>" + msg + "</li>");	
        		});
        		$("#related_tweets_text").append("</ul>");
        	} else if(jsObject["images"]) {
        		$("#twitter_images").empty();
        		var images = jsObject["images"];
        		images.forEach(function(image) {
        			$("#twitter_images").append("<img class='tweet_thumbnail' src='" + image + "'/>");	
        		});
        	} else {
        		console.log("Unknown data: " + JSON.stringify(message.data));
        	}
        }
        applicationWS.onmessage = handleMessage;
    </script>
  </body>
</html>
